body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #666666;
}
h1 {
    color: white;
}
h2 {
    color: rgb(218, 218, 218);
}
p {
    color: white;
}

/*Listas centralizadas*/
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
/*Listas com marcadores personalizados*/
ul li {
    background: url('https://example.com/bullet.png') no-repeat left center;
    padding-left: 20px;
    margin-bottom: 10px;
}


/*Responsividade*/
@media (max-width: 600px) {
    body {
        padding: 10px;
    }
    h1 {
        font-size: 24px;
    }
    h2 {
        font-size: 20px;
    }
    p, li {
        font-size: 16px;
    }
}
@media (min-width: 601px) and (max-width: 1200px) {
    body {
        padding: 15px;
    }
    h1 {
        font-size: 28px;
    }
    h2 {
        font-size: 24px;
    }
    p, li {
        font-size: 18px;
    }
}